.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox___9KCaq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__bFcHj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #f4efeb;
  min-width: 0;
  padding: 8px;
}
.freeBox__tDFbp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  min-width: 0;
  padding: 36px 8px 42px;
}
.columns__dhXT {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__dhXT > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.columns__dhXT > :global(.__wab_flex-container) > *,
.columns__dhXT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dhXT > :global(.__wab_flex-container) > picture > img,
.columns__dhXT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 10px;
}
.columns__dhXT {
  --plsmc-rc-col-gap: 0px;
}
.columns__dhXT > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__dhXT > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 930px) {
  .columns__dhXT {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__dhXT > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__dhXT > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__n30Dw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__vtCjZ {
  --plsmc-rc-col-gap: 0px;
}
.columns__vtCjZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vtCjZ > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vtCjZ > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 930px) {
  .columns__vtCjZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__vtCjZ > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lz8Jf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__ish19 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ish19 > picture > img {
  object-fit: cover;
}
.column__dMqAg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__vuw4I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__axsPo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (max-width: 930px) {
  .h4__axsPo {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__cv38D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button2___20Jk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__iho {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sgNm {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__sDpHq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__zb6Qn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns___9Q4U6 {
  --plsmc-rc-col-gap: 0px;
}
.columns___9Q4U6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___9Q4U6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___9Q4U6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 930px) {
  .columns___9Q4U6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns___9Q4U6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__av8LW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__fbYfs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__fbYfs > picture > img {
  object-fit: cover;
}
.column___4586 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__f4DEr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__ibIaE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (max-width: 930px) {
  .h4__ibIaE {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__sq0C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button2__awmsz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pEHeM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tSMih {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___4GzSm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__jMlqt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__aXaKm {
  --plsmc-rc-col-gap: 0px;
}
.columns__aXaKm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__aXaKm > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__aXaKm > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 930px) {
  .columns__aXaKm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__aXaKm > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fD3B0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__uvXbM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__uvXbM > picture > img {
  object-fit: cover;
}
.column__wkpn8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__cdKl3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__tz0Ha {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (max-width: 930px) {
  .h4__tz0Ha {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__omqEs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button2__jWs3P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4P5Mw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xLar {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__tds2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__xuXfo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__v1Dw2 {
  --plsmc-rc-col-gap: 0px;
}
.columns__v1Dw2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__v1Dw2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__v1Dw2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 930px) {
  .columns__v1Dw2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__v1Dw2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xdb7E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__y3SyS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__y3SyS > picture > img {
  object-fit: cover;
}
.column__aLuvj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__gYnnZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4___8NviN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (max-width: 930px) {
  .h4___8NviN {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__hLuiQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button2__xsaeG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b4Tb5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mx5PN {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__pDhto {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__q8Azy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__sa75I {
  --plsmc-rc-col-gap: 0px;
}
.columns__sa75I {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__sa75I > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__sa75I > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 930px) {
  .columns__sa75I {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__sa75I > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___57V3Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__hkbUr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__hkbUr > picture > img {
  object-fit: cover;
}
.column__fzga9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__e18M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  min-width: 0;
}
.h4__s7Ulr {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 0px 0px 0.5em;
}
@media (max-width: 930px) {
  .h4__s7Ulr {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__mfJt3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button2__krXpU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hks4T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__koaHw {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___4DwFb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__r8Xq8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__fcUEz {
  --plsmc-rc-col-gap: 0px;
}
.columns__fcUEz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__fcUEz > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__fcUEz > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 930px) {
  .columns__fcUEz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__fcUEz > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hqwtk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__sEdlx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__sEdlx > picture > img {
  object-fit: cover;
}
.column__cTSk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__wfEdH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__nipuQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (max-width: 930px) {
  .h4__nipuQ {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__fisKz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button2___20LPj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gWwz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bSaF {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rVb2I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__jf7Fs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__zgd9P {
  --plsmc-rc-col-gap: 0px;
}
.columns__zgd9P {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zgd9P > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__zgd9P > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 930px) {
  .columns__zgd9P {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__zgd9P > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yfwtF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__a0VoG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__a0VoG > picture > img {
  object-fit: cover;
}
.column__xjznX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__mmRxX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__h4Xia {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (max-width: 930px) {
  .h4__h4Xia {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__woubB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button2__y45:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___25RNg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__soGav {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___29Om {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__jgK4M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns___5LcN7 {
  --plsmc-rc-col-gap: 0px;
}
.columns___5LcN7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___5LcN7 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___5LcN7 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 930px) {
  .columns___5LcN7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns___5LcN7 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2ZoWy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__fmqP3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__fmqP3 > picture > img {
  object-fit: cover;
}
.column__iE5O5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__tkOnS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__bLDns {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (max-width: 930px) {
  .h4__bLDns {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text___8Mh3A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button2__tKqxF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___90Bxd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rocK {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___5LxZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__bi7P5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerTop {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: var(--token-geOXh9-dBAI6);
  min-width: 0;
  padding: 3.33em 15px 1.11em;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  padding: 0px;
}
.columns___02Lof {
  --plsmc-rc-col-gap: 0px;
}
.columns___02Lof {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 2.5em;
}
.columns___02Lof > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___02Lof > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___02Lof > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 930px) {
  .columns___02Lof {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (max-width: 930px) {
  .columns___02Lof > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___003K3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column___003K3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.column___003K3 > :global(.__wab_flex-container) > *,
.column___003K3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___003K3 > :global(.__wab_flex-container) > picture > img,
.column___003K3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.svg__r2IvY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 165px;
  height: 100px;
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox__zN9Yp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 5px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__zN9Yp {
    align-items: center;
    justify-content: center;
  }
}
.svg__obQoK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg___1CFwX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__cF9G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column__o1CYi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  filter: blur(0px);
  border-left-style: solid;
  border-left-color: #ffffff;
  min-width: 0;
  padding: 0px 53px 0px 40px;
}
@media (max-width: 930px) {
  .column__o1CYi {
    padding: 0px 8px;
  }
}
.freeBox__et0Mo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 110px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__et0Mo {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.h4___5EgSh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4___5EgSh {
    text-align: center;
    margin-top: 53px;
  }
}
.button__yDNmv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__yDNmv:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__gj1U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pQd5N {
  color: var(--token-U6jk_18-czxW);
}
.svg__y2Xdf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__sEpQe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__sEpQe:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__zYxKt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vpmPf {
  color: var(--token-U6jk_18-czxW);
}
.svg__lFrEx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__roG1C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__roG1C:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__zqp3T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xIg54 {
  color: var(--token-U6jk_18-czxW);
}
.svg__wFqgi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__pbpSk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-left-style: solid;
  border-left-color: #ffffff;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (max-width: 930px) {
  .column__pbpSk {
    padding: 0px 8px;
  }
}
.freeBox__tm9Ei {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__tm9Ei {
    justify-content: center;
    align-items: center;
  }
}
.h4__uNFvG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__uNFvG {
    text-align: center;
    margin-top: 46px;
  }
}
.button___1Zb5Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button___1Zb5Z:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__o71Yb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4ElOh {
  color: var(--token-U6jk_18-czxW);
}
@media (max-width: 930px) {
  .text___4ElOh {
    text-align: center;
  }
}
.svg__sXx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vxieg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__vxieg:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__w3Ff {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__aqFq0 {
  color: var(--token-U6jk_18-czxW);
}
@media (max-width: 930px) {
  .text__aqFq0 {
    text-align: center;
  }
}
.svg__n4Q07 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (max-width: 930px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: 0px;
  padding: 0px;
}
.text___6UkH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 1em 0px 0px;
}
.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #3291ff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
